.img-about-us {
  display: flex;
  margin-top: 23px;
}
.one img {
  width: 360px;
  height: 40vh;
  margin-top: 10%;
}
.two {
  padding-left: 18px;
  padding-top: 35px;
}
.row {
  display: flex;
}
.event-sumary {
    border-radius: 20px;
    width: 379px;
    margin-top: 20px;
  font-size: 20px;
  color: #fff;
  background: #a92b25;
  font-family: "Dosis", sans-serif;
  padding: 7px 20px 9px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #a92b25;
  font-weight: 600;
  transition: 0.6s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.event-sumary h5{
    font-size: 14px;
}
.event-sumary:hover{
    padding-left: 12px;
    cursor: pointer;
}
.material {
  display: flex;
  /* flex-wrap: wrap; */
}
.about-main {
  margin: 3%;
  padding-top: 19px;
}
.img-alinks{
  margin-top: 37px;
  width: 60vw;
}
.a-links h6{
    font-family: Poppins;
    text-align: left;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    color: #333;
    font-size: 25px;
}
.a-links a{
    color: #85142a;
    text-decoration: none;
}
#about{
    color: #333;
}
.events{
    padding-left: 50px;
}
.event-sumary h5{
    font-weight: 700;
    font-family: serif;
}
.patata{
    font-weight: 700;
    font-family: serif;
}
.arc-coridor p{
    font-size: 16px;
    font-family: serif;
    line-height: 21px;
    font-family: inherit!important;
    font-weight: inherit!important;
    font-size: inherit!important;
    font-style: inherit!important;
    color: inherit!important;
    line-height: inherit!important;
}