body{
    background-color: #ffffff;
}
.alumni-image {
  display: block;
  width: 100%;
  height: auto;
}
.content1 h3 {
  color: #90231d;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.content1 {
  display: flex;
  /* text-align: center; */
  /* justify-content: center; */
  margin-top: 3%;
  margin-bottom: 1%;
}
.about-alumni {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  margin-bottom: 1%;
}
.about-alumni p {
  color: #43461c;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0px 6%;
}
.connected h2 {
  color: #43461c;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.connected {
  margin-top: 3%;
}
.main-page2 {
  margin-top: 11%;
}
.content2 p{
    text-align: center;
    font-weight: 400;
    color: #43461c;
    font-family: 'Open Sans', sans-serif;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.join-with-us button{
    border-radius: 11rem;
    font-size: 20px;
    color: #a92b25;
    background: #fff;
    font-family: "Dosis", sans-serif;
    padding: 7px 20px 9px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #a92b25;
    font-weight: 600;
    transition: 0.6s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.join-with-us{
    text-align: center;
    margin-top: 3%;
}
.join-with-us button:hover{
    color: white;
    background-color: #a92b25;
}
.topper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.alumni-p h2{
    color: rgb(67, 70, 28);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2%;
}
.alumni-news{
    margin-top: 15%;
}
#margin-bottom{
    margin-bottom: 9%;
}